body {
    padding: 10%;
    background-color: blanchedalmond;
    text-align: center;
}

select:invalid {
    color: gray;
}

select option {
    color: black;
}

a {
    position: fixed;
    bottom: 0;
    right: 0;
}

form {
    background-color: white;
    width: 25%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

select {
    width: 242px;
}